.main{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.container{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    cursor: pointer;
}

.icon{
    width: 15px;
    margin-left: 5px;
}