.main{
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.outer{
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.inner{
  background-color: green;
}