.App {
  font-family: sans-serif;
  text-align: center;
}

.tab-name-container {
  display: flex;
}

.tab-name {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.tab-body {
  height: 200px;
  border: 2px solid black;
}

.error {
  color: red;
  display: block;
}
