.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
}

.search{
    height: 25px;
    width: 500px;
    padding: 5px;
    box-sizing: border-box;
}

.results-container{
    height: auto;
    max-height: 500px;
    width: 500px;
    padding: 5px;
    box-sizing: border-box;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.result{
    margin: 5px;
    text-align: left;
    padding: 2px;
    background-color: antiquewhite;
}